@model WebApplication1.Models.Operation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Sign Out</a>
            </li>
        </ul>
    </nav>
    <div>
        Erreur lors de la détermination du résultat de l'opération (@Model.Operateur de @Model.OperandeDroite et @Model.OperandeGauche).
    </div>
</body>
</html>
