
@{
    Layout = null;
}

<!DOCTYPE html>
@model MonApplication.Models.PageIndexModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toto</title>
</head>
<body>
    <div> 
        Déjà @Model.NombreOperations opérations effectuées dont @Model.NombreAdditions additions !
    </div>
</body>
</html>
