@model MonApplication.Models.Operation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <div> 
        Erreur lors de la détermination du résultat de l'opération (@Model.Operateur de @Model.OperandeDroite et @Model.OperandeGauche).
    </div>
</body>
</html>
