@model Testproject.Models.EmailModel
    @using Testproject.Models

<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Welcome</title>
</head>
<body>
    <p>
        Bonjour @Model.Name,
    </p>
    <p>
        Merci d'avoir choisi Simpoll pour créer votre sondage
    </p>
</body>
</html>



